@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$mainOrange: #FF9A51;
$orangeI3:  #F9E8D4;
$mainBlue: #323852;
$contactUsButton: #FDF9F44D;
$whiteBackground:  #FEFDFC;
$carouselControl: #5B5958;




