@import "fonts";

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    header {
        background-color: rgba(189, 187, 187, 1);
        display: flex;
        justify-content: space-around;
        height: 8vh;
        img {
            padding: .5rem;
            width: 15vw;
            height: auto;
        }
        nav {
            width: 40%;
            align-items: center;
            height: 100%;
            display: flex;
            ul {
                display: flex;
                justify-content: space-around;
                list-style-type: none;
                width: 100%;
                li {
                    margin-top: 1%;
                    a {
                        text-decoration: none;
                        color: white;
                        &:hover {
                            color: grey;
                            transition: .5s;
                        }
                    }
                }
            }
        }
    }
    .fondoasd {
        background-image: url(../media/fondo_1.png);
        background-size: cover;
        width: 100%;
        color: white;
        height: 80vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .seccion1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .btn {
            margin-top: 5%;
            padding: 1rem;
        }}
    }
    #servicios {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        .contenedorCards {
            display: flex;
            justify-content: space-around;
            margin-bottom: -5%;
            .card {
                position: relative;
                top: -20vh;
                img {
                    height: 20vh;
                    width: auto;
                }
            }
        }
        button {
            width: 13%;
            margin: auto;
            padding: .8rem;
        }
    }
    .acercaDe {
        display: flex;
        flex-direction: row;
        height: 100vh;
        .fondo {
            background-image: url(../media/fondo_2.png);
            background-size: cover;
            height: 90vh;
            width: 120vh;
            flex-basis: 60%;
            position: absolute;
        }
        .prueba {
            flex-basis: 40%;
            .contenido {
                margin-left: 100vh;
                height: 55vh;
                width: 75vh;
                background-color: white;
                margin-top: 17vh;
                position: absolute;
                padding: 5vh;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                border-radius: 3%;
                img {
                    height: auto;
                    width: 100%;
                }
                h3 {
                    font-size: 150%;
                    color: var(--naranja);
                }
            }
        }
    }
    .contacto {
        padding: 7%;
        width:100%;
        .carousel {
            width: 35rem;
            height: 30rem;
            position: relative;
            box-shadow: 0px 2px 9px 0px #A8A8B94D;

            right: 30%;
            .carousel-inner {
                height: 100%;
                background: $whiteBackground;
                .carousel-item {
                    height: 100%;
                    img {
                        height: inherit;
                        margin: auto;
                        padding: 1rem;
                    }
                }
            }
            .carousel-control {
                border: none;
                background: $whiteBackground;
            }
        }
            .redes {
                position: relative;
                right: 28%;
                .contactanosTexto {
                    color: $mainBlue;
                    font-size: 3.2em;
                    font-weight: 700;
                    margin-top: 2.2rem;
                    .contactanosTextoSpan {
                        color: $mainOrange;
                        font-weight: 900;
                        display: block;
                    }
                }
                div {
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: column;
                    justify-content: space-evenly;
                    margin-top: 10%;
                    span {
                        display: flex;
                        flex-wrap: nowrap;
                        color: #3E415C;
                        font-weight: 500;
                        font-size: 1.3em;
                    .iconoRedes {
                        width: 3rem;

                    }
                }
                }
            }
        
        .fondoNaranja {
            background: $orangeI3;
            border-left: .5rem solid $mainOrange;
            height: 40%; 
            display: flex;
            width:65%;
            margin-left: 30%;
            padding: 2rem;

        }
    
    }

}

footer {
    display: flex;
    background-color: $mainBlue;
    justify-content:space-between;
    .logoFooter {
        width: 228px;
    }
    nav {
        background-color: rgb(143, 141, 141);
        display: flex;
        flex-direction: column;
        nav {
            
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            width: 25%;
            .footerNavItems {
                &:hover {
                    color: white;
                    transition: .5s;
                    cursor: pointer;
                }
            }
        }
    }
    span {
        background-color: rgb(189, 187, 187);
        text-align: center;
        padding: .5rem;
        font-size: .9em;
        width: 100%;
    }
}