@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body header {
  background-color: #bdbbbb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 8vh;
}

body header img {
  padding: .5rem;
  width: 15vw;
  height: auto;
}

body header nav {
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  width: 100%;
}

body header nav ul li {
  margin-top: 1%;
}

body header nav ul li a {
  text-decoration: none;
  color: white;
}

body header nav ul li a:hover {
  color: grey;
  -webkit-transition: .5s;
  transition: .5s;
}

body .fondoasd {
  background-image: url(../media/fondo_1.png);
  background-size: cover;
  width: 100%;
  color: white;
  height: 80vh;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .fondoasd .seccion1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .fondoasd .seccion1 .btn {
  margin-top: 5%;
  padding: 1rem;
}

body #servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5%;
}

body #servicios .contenedorCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: -5%;
}

body #servicios .contenedorCards .card {
  position: relative;
  top: -20vh;
}

body #servicios .contenedorCards .card img {
  height: 20vh;
  width: auto;
}

body #servicios button {
  width: 13%;
  margin: auto;
  padding: .8rem;
}

body .acercaDe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
}

body .acercaDe .fondo {
  background-image: url(../media/fondo_2.png);
  background-size: cover;
  height: 90vh;
  width: 120vh;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  position: absolute;
}

body .acercaDe .prueba {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

body .acercaDe .prueba .contenido {
  margin-left: 100vh;
  height: 55vh;
  width: 75vh;
  background-color: white;
  margin-top: 17vh;
  position: absolute;
  padding: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 3%;
}

body .acercaDe .prueba .contenido img {
  height: auto;
  width: 100%;
}

body .acercaDe .prueba .contenido h3 {
  font-size: 150%;
  color: var(--naranja);
}

body .contacto {
  padding: 7%;
  width: 100%;
}

body .contacto .carousel {
  width: 35rem;
  height: 30rem;
  position: relative;
  -webkit-box-shadow: 0px 2px 9px 0px #A8A8B94D;
          box-shadow: 0px 2px 9px 0px #A8A8B94D;
  right: 30%;
}

body .contacto .carousel .carousel-inner {
  height: 100%;
  background: #FEFDFC;
}

body .contacto .carousel .carousel-inner .carousel-item {
  height: 100%;
}

body .contacto .carousel .carousel-inner .carousel-item img {
  height: inherit;
  margin: auto;
  padding: 1rem;
}

body .contacto .carousel .carousel-control {
  border: none;
  background: #FEFDFC;
}

body .contacto .redes {
  position: relative;
  right: 28%;
}

body .contacto .redes .contactanosTexto {
  color: #323852;
  font-size: 3.2em;
  font-weight: 700;
  margin-top: 2.2rem;
}

body .contacto .redes .contactanosTexto .contactanosTextoSpan {
  color: #FF9A51;
  font-weight: 900;
  display: block;
}

body .contacto .redes div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10%;
}

body .contacto .redes div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #3E415C;
  font-weight: 500;
  font-size: 1.3em;
}

body .contacto .redes div span .iconoRedes {
  width: 3rem;
}

body .contacto .fondoNaranja {
  background: #F9E8D4;
  border-left: 0.5rem solid #FF9A51;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  margin-left: 30%;
  padding: 2rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #323852;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .logoFooter {
  width: 228px;
}

footer nav {
  background-color: #8f8d8d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  width: 25%;
}

footer nav nav .footerNavItems:hover {
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

footer span {
  background-color: #bdbbbb;
  text-align: center;
  padding: .5rem;
  font-size: .9em;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */